.flexgrow-1 {
  flex-grow: 1;
}

.color-white{
  color: #fff !important;
} 

.brandLogin {
    margin-right: 39rem !important;
    color: #fff !important;
}

.brandLogout {
  margin-right: 83rem !important;
  color: #fff !important;
}